name: build

on: [push, pull_request]

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        sdk: [stable, beta, dev]

    steps:
    - uses: actions/checkout@v3
    - uses: dart-lang/setup-dart@v1.3
      with:
        sdk: ${{ matrix.sdk }}

    - name: Install dependencies
      run: dart pub get

    - name: Check formatting
      run: dart format --set-exit-if-changed .

    - name: Analyze code
      run: dart analyze --fatal-warnings .

    - name: Run test on Chrome
      run: dart test --platform chrome
      continue-on-error: true

    - name: Run tests
      run: |
        dart pub global activate coverage
        dart pub global run coverage:test_with_coverage

    - name: Run pana
      run: |
        dart pub global activate pana
        dart pub global run pana --exit-code-threshold 0 --no-warning .

    - name: Validate example
      run: dart run example/const_date_time_example.dart

    - name: Upload code coverage
      if: ${{ matrix.sdk == 'stable' && matrix.os == 'ubuntu-latest' }}
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage/lcov.info

    - name: Generate docs
      if: ${{ matrix.sdk == 'stable' && matrix.os == 'ubuntu-latest' }}
      run: dart doc

    - name: Publish docs
      if: ${{ matrix.sdk == 'stable' && matrix.os == 'ubuntu-latest' && github.ref_name == 'main' }}
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: doc/api
